.App {
  text-align: center;
  width: 80%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}